<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Mini-whatsapp</title>
</head>
<body>
    <h1>Welcome to the mini-whatsapp <%= username %>,</h1>
    <p>Welcome to our service! We're glad to have you on board.</p>
</body>
</html>